.btnCustomMaster {
    background-color: transparent;
    padding: 10px 10px;
    font-family: 'Oswald', sans-serif;
    color: #58000B;
    font-size: 1.4em;
    text-transform: uppercase;
    text-decoration: none;
}
.bcColor {
    background-color: #DDCBBD;
}
    .bcColor > li > a {
        font-size: 1.0em !important;
        text-transform: none !important;
        text-decoration: none !important;
        border: 0px solid white !important;
    }
