<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <!--Conexion Alexandra-->
    <!--add name="conexion" connectionString="data source=ALE\SQLEXPRESS; initial catalog=BD_SCPEDR; integrated security=SSPI"/-->
    <!--Conexion Marcial-->
    <!--add name ="conexion" connectionString="data source=LAPTOP-UEI1JFVM; initial catalog=BD_SCPEDR; integrated security=SSPI"/-->
    <!--Conexion Maciel-->
    <add name ="conexion" connectionString="data source=(Local); initial catalog=BD_SCPEDR; integrated security=SSPI"/>
    <!--Conexion Ana-->
      <!--add name ="conexion" connectionString="data source=DESKTOP-4LVLNRM; initial catalog=BD_SCPEDR; integrated security=SSPI"/-->

    <!--<add name ="conexion" connectionString="data source=DESKTOP-IAELG6V\SQLEXPRESS; initial catalog=BD_SCPEDR; integrated security=SSPI"/>-->

  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>
